.addProjectForm {
  z-index: 100;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.191);

  display: flex;
  flex-direction: column;

  justify-content: center;

  padding: 2rem;
}
.textImput {
  display: block;
  height: 3rem;
  width: 100%;

  background-color: rgb(199, 199, 199);
  border-radius: 0.5rem;
  border: none;

  padding: 0.2rem 2rem;
  margin-bottom: 1rem;
}
.dateImput {
  display: block;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
}
.addProjectForm button {
  width: 100%;
  margin-top: 1rem;
  border: none;
  padding: 1.3rem 2rem;
  background-color: var(--color-light--1);
  border-radius: 0.5rem;
}
.addProjectForm button:hover {
  cursor: pointer;
}
