.project {
  border-radius: 0.4rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.191);
  width: 100%;
  background-color: #fff;
}
.content {
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.content header {
  display: flex;
  justify-content: space-between;
}
.tags {
  width: 20rem;

  display: flex;

  align-items: center;
  gap: 0.4rem;
}

.content header button {
  border: none;
}

.title {
  grid-row: 2/3;
  grid-column: 1;
  font-size: 1.3rem;
  font-weight: 100;
}

.project footer {
  border-top: solid 0.8px rgba(0, 0, 0, 0.109);
  height: 3.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}
.project footer img {
  height: 1.8rem;
}
.prazo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.prazo_late {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--color-brand--1);
}
@media only screen and (max-width: 983px) {
  .project {
    width: 27rem;
  }
}
