.btn {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 8rem;
  height: 3.5rem;
  font-size: 13px;
}
.btn:hover {
  cursor: pointer;
}
.btn img {
  height: 1.7rem;
}
.tag {
  display: flex;
  align-items: center;
}
.tag button {
  background-color: var(--color-light--1);
  height: 100%;
  width: 4rem;
  height: 3rem;
}

.tag form input {
  background-color: rgb(199, 199, 199);
  border: none;
  height: 3rem;
  padding: 0.3rem;
}
