.conteiner {
  background-color: #8e7171;

  border-radius: 1rem;
  width: 40rem;
  padding: 3rem;

  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  font-size: 1.5rem;
}
.btn_box {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.btn_box button {
  padding: 1rem;
  background-color: gray;
  border-radius: 0.5rem;
}
