.btn {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 8rem;
  font-size: 13px;
  height: 3.5rem;
}
.btn:hover {
  cursor: pointer;
}
.btn img {
  height: 1.7rem;
}
