.options {
  display: grid;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 2rem;

  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.191);

  background-color: #fff;
  border-radius: 1rem;
  gap: 1rem;
}
.options header {
  display: flex;
}

.options header div {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.3rem;
}
.options header div h1 {
  margin-right: 1rem;
}

.options textarea {
  padding: 0.4rem;
  margin-top: -1rem;
  border: solid 1px black;
  min-width: 50rem;
  min-height: 20rem;
  resize: none;
}
.options input {
  margin-top: -1rem;
  width: 12rem;
  border: 1px solid black;
}
.options p {
  font-size: 1.3rem;
}
.btn {
  background-color: var(--color-light--1);
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--hover-dark--1);
}
.options img {
  width: 2rem;
}
.close_btn {
  display: flex;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
}
.close_btn:hover {
  background-color: var(--hover-light--1);
  cursor: pointer;
}
