.btn {
  background-color: #fff;
  width: 8rem;
  height: 3.5rem;
  font-size: 13px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.btn:hover {
  font-weight: bold;
  cursor: pointer;
}
.btn img {
  height: 1.7rem;
}
.tag {
  display: flex;
  align-items: center;
}
.tag button {
  background-color: var(--color-light--1);
  width: 4rem;
  height: 3rem;
}

.tag form input {
  background-color: rgb(199, 199, 199);
  border: none;
  border-radius: 0.2rem;
  height: 3rem;
  padding-left: 0.4rem;
}
