.dashContent {
  background-color: #495057;
  height: 100vh;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.dashContent div {
  margin-top: 3rem;

  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.191);
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashContent p {
  font-size: 1.3rem;
}
.dashContent h1 {
  font-size: 4rem;
}
