:root {
  --color-brand--1: #e53939;
  --color-brand--2: #ffffff;
  --color-brand--2: #000000;

  --color-light--1: #adb5bd;

  --hover-light--1: #f1f3f5;
  --hover-dark--1: #868e96;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  color: var(--color-light--0);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
}
.invisible {
  opacity: 0;
  display: none;
}
